
<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCC">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Candidates</h5>
  	<h1>Who's running for office?</h1>
  	<p class="byline">By Star Tribune Staff</p>
  	<!-- share -->
  </div>

  <div class="container-lg mainCC">
  	<!-- NAVIGATION -->
    <nav>
      <ul>
      	<li><a href="#G">GOVERNOR</a></li>
        <li><a href="#S">U.S. SENATE</a></li>
      	<li><a href="#H">U.S. HOUSE</a></li>
      </ul>
  	</nav>

    <!-- LEAD IN TEXT -->
    <section class="leadin">
      <p>Lorem ipsum lots of lead in non-sense goes here about the candidates, and maybe with some verbal direction for using this page? </p>
    </section>

    <!-- GOV -->
  	<section id="G">
  		<h4>GOVERNOR</h4>
      <div class="key">      </div>

<!--       <table>
        <thead></thead>
        <tbody>
          <tr>
            <td></td>
          </tr> 

        </tbody>
      </table> -->

      <ul>
        <% _.each(governors, (g) => { %>
        <li>
          <div class="name">
            <h6 class="<%= g.PARTY %>">
                <span class="party"></span>
                <%= g['FIRST NAME'] %> <%= g['LAST NAME'] %>
                <span class="endorse"></span>
            </h6>
            <div class="buttons">
              <button class="more">+</button>
              <button class="less">&minus;</button>
            </div>
          </div>

          <div class="expand">
            <img src="http://www.placepuppy.net/100/100">
<!--             <p><em>Currently: <%= g['CURRENT GIG'] %></em></p> -->
            <p><%= g['BIO'] %></p>
            <p class="extras"><a href="<%= g['WEBSITE'] %>" target="_blank" rel="noopener">Website</a>&nbsp; &nbsp;<a href="http://www.startribune.com/campaign-finance-2018-minnesota-governor-tim-walz-leads-money-race-tim-pawlenty-close-behind/478334513/" target="_blank" rel="noopener">Campaign finance</a></p>
          </div>
        </li>
        <% }) %>
      </ul>

      <div class="footnote">
        <p>Other candidates: Lance Johnson, Chris Wright, Ole Savior.</p>
        <p>Former candidates: Chris Coleman, Matt Dean, Keith Downey, Tina Liebling, David Osmek, Paul Thissen.</p>
      </div>
  	</section>

    <!-- SENATE -->
  	<section>
  		<h4>SENATE</h4>
	      <div class="key">	      </div>

        <h5>Senate (Special)</h5>
        <ul>
        <% _.each(senateSpecial, (ss) => { %>
        <li>

          <div class="name">
            <h6 class="<%= ss.PARTY %>">
              <span class="party"></span>
              <%= ss['FIRST NAME'] %> <%= ss['LAST NAME'] %>
              <% if (ss['INCUMBENT Y/N'] === 'Y') { %><span class="incumbent">(i)</span><% } %>
              <span class="endorse"></span>
            </h6>

            <div class="buttons">
              <button class="more">+</button>
              <button class="less">&minus;</button>
            </div>
          </div>


          <div class="expand">
            <img src="https://www.fillmurray.com/100/100">
<!--               <p><em>Currently: <%= ss['CURRENT GIG'] %></em></p>
 -->        <p><%= ss['BIO'] %></p>
            <p class="extras"><a href="<%= ss['WEBSITE'] %>" target="_blank" rel="noopener">Website</a>&nbsp; &nbsp;<a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-senate-races-tina-smith-amy-klobuchar-fundraising-juggernauts-in-full-swing/478994853/" target="_blank" rel="noopener">Campaign finance</a></p>
            </div>
          </li>
          <% }) %>
        </ul>

        <h5>Senate</h5>
        <ul>
        <% _.each(senate, (s) => { %>
        <li>
          <div class="name">
            <h6 class="<%= s.PARTY %>">
              <span class="party"></span>
              <%= s['FIRST NAME'] %> <%= s['LAST NAME'] %>
              <% if (s['INCUMBENT Y/N'] === 'Y') { %><span class="incumbent">(i)</span><% } %>
              <span class="endorse"></span>
            </h6>

            <div class="buttons">
              <button class="more">+</button>
              <button class="less">&minus;</button>
            </div>
          </div>

          <div class="expand">
              <img src="https://placebear.com/100/100">
<!--               <p><em>Currently: <%= s['CURRENT GIG'] %></em></p>
 -->          <p><%= s['BIO'] %></p>
              <p class="extras"><a href="<%= s['WEBSITE'] %>" target="_blank" rel="noopener">Website</a>&nbsp; &nbsp;<a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-senate-races-tina-smith-amy-klobuchar-fundraising-juggernauts-in-full-swing/478994853/" target="_blank" rel="noopener">Campaign finance</a></p>
            </div>
          </li>
          <% }) %>
        </ul>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- HOUSE -->
  	<section>
  		<h4>HOUSE</h4>
      <div class="key">      </div>

      <% _.each(_.groupBy(house, 'DISTRICT'), h => { %>
      <h5>District <%= h[0].DISTRICT %></h5>
      <ul>
        <% _.each(h, (h) => { %>
        <li>
          
          <div class="name">
            <h6 class="<%= h.PARTY %>">
              <span class="party"></span>
              <%= h['FIRST NAME'] %> <%= h['LAST NAME'] %>
              <% if (h['INCUMBENT Y/N'] === 'Y') { %><span class="incumbent">(i)</span><% } %>
              <% if (h['PARTY ENDORSED?'] === 'Y') { %><span class="endorse">check</span><% } %>
            </h6>

            <div class="buttons">
              <button class="more">+</button>
              <button class="less">&minus;</button>
            </div>
          </div>

            <div class="expand">
              <img src="http://www.placekitten.com/100/100">
<!--               <p><em>Currently: <%= h['CURRENT GIG'] %></em></p>
 -->          <p><%= h['BIO'] %></p>
              <p class="extras"><a href="<%= h['WEBSITE'] %>" target="_blank" rel="noopener">Website</a>&nbsp; &nbsp;<a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-senate-races-tina-smith-amy-klobuchar-fundraising-juggernauts-in-full-swing/478994853/" target="_blank" rel="noopener">Campaign finance</a></p>
            </div>
          </li>
          <% }) %>
        </ul>
        <% }) %>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- FOOTER/SOURCES -->
    <footer>
    </footer>
  </div>

</div>



