
<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCC">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Candidates</h5>
  	<h1>Who's running for office?</h1>
  	<p class="byline">By Star Tribune Staff</p>
  	<!-- share -->
  </div>

  <div class="container-lg mainCC">
  	<!-- NAVIGATION -->
    <nav>
      <ul>
      	<li><a href="#G">GOVERNOR</a></li>
        <li><a href="#S">U.S. SENATE</a></li>
      	<li><a href="#H">U.S. HOUSE</a></li>
      </ul>
  	</nav>

    <!-- LEAD IN TEXT -->
    <section class="leadin">
      <p>Lorem ipsum lots of lead in non-sense goes here about the candidates, and maybe with some verbal direction for using this page? </p>
    </section>

    <!-- GOV -->
  	<section>
  		<h4>GOVERNOR</h4>
  		<p class="timestamp">May 17, 2018</p>
      <div class="key">      </div>

      <ul>
        <% _.each(governors, (g) => { %>
        <li>
<!--           <button class="more">+</button>
          <button class="less">-</button> -->
          <h6 class="<%= g.PARTY %>"><%= g['FIRST NAME'] %> <%= g['LAST NAME'] %><span class="party"></span><span class="inc"></span><span class="endorse"></span></h6>
          <div class="expand">
            <img src="http://www.placepuppy.net/100/100">
<!--             <p><em>Currently: <%= g['CURRENT GIG'] %></em></p> -->
            <p><%= g['BIO'] %></p>
            <p class="site"><a href="<%= g['WEBSITE'] %>" target="_blank" rel="noopener">Website</a></p>
          </div>
        </li>
        <% }) %>
      </ul>

      <div class="footnote">
        <p>Other candidates: Lance Johnson, Chris Wright, Ole Savior.</p>
        <p>Former candidates: Chris Coleman, Matt Dean, Keith Downey, Tina Liebling, David Osmek, Paul Thissen.</p>
      </div>
  	</section>

    <!-- SENATE -->
  	<section>
  		<h4>SENATE</h4>
	  		<p class="timestamp">Updated: May 17, 2018</p>
	      <div class="key">	      </div>
        <ul>
        <% _.each(senate, (s) => { %>
        <li>
      <!--  <button class="more">+</button>
            <button class="less">-</button> -->
            <h6 class="<%= s.PARTY %>"><%= s['FIRST NAME'] %> <%= s['LAST NAME'] %>
              <span class="party"></span>
              <% if (s['INCUMBENT Y/N'] === 'Y') { %><span class="incumbent">(i)</span><% } %>
              <span class="endorse"></span>
            </h6>
            <div class="expand">
              <img src="http://www.placepuppy.net/100/100">
              <p><em>Currently: <%= s['CURRENT GIG'] %></em></p>
              <p><%= s['BIO'] %></p>
              <p class="site"><a href="<%= s['WEBSITE'] %>" target="_blank" rel="noopener">Website</a></p>
            </div>
          </li>
          <% }) %>
        </ul>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- HOUSE -->
  	<section>
  		<h4>HOUSE</h4>
  		<p class="timestamp">Updated May 17, 2018</p>
      <div class="key">      </div>



      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- FOOTER/SOURCES -->
    <footer>
    </footer>
  </div>

</div>



