/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */

// Strib icons
//$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.9/';
//@import '@striblab/node_modules/@striblab/strib-icons/build/strib-icons.scss';

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss

// Assumed that this project lives within an existing page, so we add a
// wrapper that is very specific and wrap our other styles in it, so
// that we don't affect other styles on the page.
$selector-wrapper: '.strib.strib-styles.strib-styles-specifically';
@import '@striblab/strib-styles/source/styles/default-wrapper.scss';


// Project specific styles.  Split styles into files per component
.strib.strib-styles.strib-styles-specifically {
@import 'project';

// Header styles

  .headerCC {
    text-align: center;
    max-width: 825px;
  }

  .headerCC h1 {
    padding-top: 0.3em;
    line-height: 1.1em;
  }

  .headerCC h5, .headerCC h5 span {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .08em;
    padding-top: 40px;
  }

  .headerCC h5 span{
    font-size: .96em;
    letter-spacing: .1em;
  }

  .headerCC h5 span,
  .headerCC .byline {
    font-weight: bold;
  }

  .headerCC .byline span {
    font-weight: normal;
  }

  .mainCC {
    max-width: 525px;
  }


// Nav styles

  nav ul{
    width: 100%;
    display: block;
    text-align: center;
    margin: 40px auto 25px auto;
  }

  nav ul.other{
    margin-top: 10px;
  }

  nav ul li{
    min-width: 20%;
    background-color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Benton Sans';
    border: 1px solid #080808;
    border-radius: 6px;
    padding: 5px 10px 4px 10px;
    margin-right: 12px;
    display: inline;
  }

  nav ul li a, nav ul li a:link, nav ul li a:visited{
    color: #080808;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li:hover{
   color: #666;
   border: 1px solid #666;
   cursor: pointer;
 }

  nav ul li:hover a:hover {
   color: #666;
 }



// Module styles

  section {
    margin-bottom: 60px;
  }

  section.leadin{
    padding-top: 30px;
    margin-bottom: 45px;
  }

  section.leadin .update{
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-size: .65em;
    margin-bottom: 20px;
  }

  section.leadin p.key{
    padding-top: 20px;
    font-size: .75em;
    text-align: center;
  }

  section.leadin p.key span.keyTitle{
    text-transform: uppercase;
  }

  section.leadin p.key span.keyIn, section.leadin p.key span.keyEnd{
    margin-left: 10px;
  }

  section.leadin p.key span.keyEnd img{
    width: 15px;
  }

  section h4{
    font-size: 1.1em;
  }

  section h5{
    font-size: .7em;
    text-transform: uppercase;
    color: #666;
    font-weight: normal;
  }

  section h6{
    font-size: .9em;
    font-weight: bold;
    display: inline;
    color: black;
  }

  section p {
    font-family: 'Benton Sans';
    font-size: 0.9em;
    margin-bottom: .4em;
  }

  section div.key{
  	margin-bottom: 20px;
  }

  section ul{
  	margin: 0;
  }

  section ul li{
    border-bottom: 1px solid #EEEEEE;
  	padding-bottom: 8px;
    margin-bottom: 8px;
  	clear: both;
    list-style: none;
  }

  section ul li:first-child{
    padding-top: 10px;
    border-top: 3px solid #EEEEEE;
  }

  section ul li:last-child{
    margin-bottom: 20px;
  }

  ul li .DFL span.party, ul li .R span.party, ul li .I span.party, ul li .G span.party{
    width: 14px;
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 4px;
  }

  ul li .DFL span.party{
    background-color: #0258A0;
  }

  ul li .R span.party {
    background-color: #C0272D;
  }

  ul li .I span.party {
    background-color: #fee090;
  }

  ul li .G span.party{
    background-color: #fee090;
  }

  ul li span.incumbent{
    font-weight: normal;
    font-size: .8em;
    margin-left: 3px;
  }

  ul li span.endorse img{
    margin-left: 3px;
    width: 15px;
  }

  ul li .buttons{
    float: right;
  }

  ul li .name{
    clear: both;
  }

  ul li .expand{
  	display: none;
    margin-bottom: 15px;
    padding-top: 10px;
  }

  ul li .expand img{
    width: 25%;
  	float:right;
  	padding: 0 0 10px 10px;
  }

  ul li .expand .extras{
    font-size:.8em;
    padding-top: 0;
  }

  .osr{
    width: 50%;
    float: left;
  }

  .osr1{
    padding-right: 5%;
  }

  .osr2{
    padding-left: 5%;
  }


// Button expanders

section ul li button{
    display: inline-block;
    min-width: 1.2em;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  section ul li button:hover{
    background-color: white;
    color: #eeeeee;
  }

  section ul li button:focus{
    outline: 1px solid #eeeeee;
  }

  section ul li button.more,
  section ul li button.less {
    font-size: 1.1em;
    font-weight: normal;
    color: black;
  }

  section ul li button.less {
    display: none;
  }


footer{
  padding-top: 75px;
	font-size: .8em;
  clear: both;
}




// For smaller screen sizes!

  @media only screen and (max-width: 700px){
    nav ul.other{
      margin-top: 10px;
    }
    nav ul li{
      margin-right: 5px;
    }

    nav ul li:nth-child(3), nav ul li:nth-child(4) {
      display: inline-block;
      margin-top: 10px;
    }

    ul li .expand img{
      width: 30%;
    }
}


  @media only screen and (max-width: 400px){
  .osr{
    width: 100%;
    float: none;
  }

  .osr1, .osr2{
    padding: 0;
  }

}


}


